/* inter-regular - latin */
@font-face {
   font-display: swap;
   /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2'),
      /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/inter-v12-latin-regular.woff') format('woff');
   /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-500 - latin */
@font-face {
   font-display: swap;
   /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   src: url('../fonts/inter-v12-latin-500.woff2') format('woff2'),
      /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/inter-v12-latin-500.woff') format('woff');
   /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-600 - latin */
@font-face {
   font-display: swap;
   /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   src: url('../fonts/inter-v12-latin-600.woff2') format('woff2'),
      /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/inter-v12-latin-600.woff') format('woff');
   /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
   font-display: swap;
   /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   src: url('../fonts/inter-v12-latin-700.woff2') format('woff2'),
      /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('../fonts/inter-v12-latin-700.woff') format('woff');
   /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
   background-color: bisque;
   margin: auto;
}

.container {
   width: 390px;
   margin: 0 auto;
   position: relative;
   background-color: #FFE9C9;
}

.header {
   position: relative;
   padding-top: 7px;

}

.header__title {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   color: #333333;
   line-height: 20px;
}

.header__subtitle {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 13px;
   color: #9F9F9F;
   line-height: 18px;
   margin-bottom: 7px;
}

.header__link {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   margin: 0 21px 0 16px;
}

.header__info {
   margin-right: 150px;
}

.adress__title {
   box-shadow: inset 0 10px 5px -10px rgba(0, 0, 0, 0.1);
   border-bottom: 1px solid #CEBEA5;
   margin-bottom: 14px;
}

.adress__info {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 26px;
   color: #333333;
   margin-left: 16px;
   padding-top: 10px;
   padding-bottom: 10px;
}

.adress {
   width: 358px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   border: 1px solid #CEBEA5;
   border-radius: 16px;
   margin: 0 auto;
   background-color: #EBD7B9;
   margin-bottom: 20px;
}

.adress__distance {
   margin: 10px 99px 0px 14px;

   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 15px;
   line-height: 19px;
   color: #333333;
}

.adress__time {
   margin: 0px 60px 10px 14px;
   color: #757575;

   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   line-height: 16px;
}

.adress__change {
   color: #24BF0B;
   font-family: 'Inter';
   font-weight: 500;
   font-size: 13px;
   line-height: 18px;

   margin: 10.5px 10px 0px 0px;

}

.setting {
   position: relative;
   margin-bottom: 20px;
}

.btn {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-right: 107px;
   margin-left: 16px;
}

.setting__slogan,
.setting__btn {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 13px;
   line-height: 18px;
   color: #24BF0B;
   background-color: #EBD7B9;
   border-radius: 100px;
   padding: 4px 10px 4px 10px;
   text-align: center;
   margin-bottom: 10px;
}

.adress__desc {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 13px;
   line-height: 18px;
   padding-top: 6px;
   padding-left: 12px;
   color: #24BF0B;


   width: 358px;
   height: 52px;
   background: #EBD7B9;
   border: 1px solid #CEBEA5;
   border-radius: 16px;
   margin: 0px 16px 0px 16px;
}


.info__content {
   border-top: 8px solid #CEBEA5;
   border-bottom: 8px solid #CEBEA5;
   margin-bottom: 10px;
}

.info {
   position: relative;
}

.info__text {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 26px;
   color: #333333;

   margin-top: 10px;
   margin-left: 16px;
   margin-bottom: 10px;
}

.info-border {
   border-bottom: 1px solid #CEBEA5;
}

.imfo__title-container {
   position: relative;
   margin-bottom: 14px;

}

.info__title {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 26px;
   color: #333333;

   margin-top: 10px;
   margin-left: 16px;
   margin-bottom: 5px;
}

.info__subtitle {
   position: relative;
   display: flex;
   justify-content: start;
   margin-left: 16px;
}

.info__desk {
   margin-right: 16px;

   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 13px;
   line-height: 18px;
   letter-spacing: -0.05em;
   color: #333333;
   margin-left: 16px;
}

.info__desk-opacity {
   position: relative;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 13px;
   line-height: 18px;
   /* identical to box height, or 138% */
   letter-spacing: -0.05em;
   text-decoration-line: line-through;
   opacity: 0.4;
   color: #000000;
   margin-right: 50px;
}



.info__content-widht {
   width: 150px;
}

.info__desk-flex {
   display: flex;
   justify-content: space-between;
   margin-bottom: 14px;
}

.num__mod {
   display: flex;
   justify-content: start;
   margin-left: 20px;
   margin-right: -15px;
}


.info__img1 {
   background: #EBD7B9;
   border: 1px solid #CEBEA5;
   border-radius: 16px;
   cursor: pointer;

   margin-right: 19px;

   padding: 12.5px 22px;
}

.num {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 26px;
   margin-right: 19px;
}

.info__img2 {
   background: #EBD7B9;
   border: 1px solid #CEBEA5;
   border-radius: 16px;
   cursor: pointer;
   padding: 5px 22px;
}

.list {
   display: flex;
   justify-content: space-between;
   margin-bottom: 18.5px;
}

.info__image {
   width: 100px;
   height: 100px;
   border-radius: 12px;
   margin-right: 16px;
}


.popular {
   display: flex;
   justify-content: space-between;
   margin-right: 16px;
   margin-left: 16px;
   margin-bottom: 10px;
}

.popular__title {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 13px;
   line-height: 18px;
   color: #333333;
}

.popular__list {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 13px;
   line-height: 18px;
   color: #24BF0B;
}

.list__title {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 15px;
   line-height: 20px;
   color: #000000;

   margin-top: 8px;

   margin-left: 12px;

   margin-bottom: 4px;
}

.btn__rec {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 13px;
   line-height: 18px;
   color: #24BF0B;

   padding: 5px 20px;
   width: 96px;
   background: #EBD7B9;
   border: 1px solid #CEBEA5;
   border-radius: 16px;
   margin-left: 12px;
   margin-bottom: 10px;
}

.info__desk__margin {
   margin-bottom: 10px;
}

.list__rec {

   width: 250px;
   display: flex;
   justify-content: space-between;
   background: #FFE9C9;
   border: 1px solid #CEBEA5;
   border-radius: 16px;

   margin-left: 16px;
}

.info__image-scale {
   width: 100px;
   height: 100px;
   border-radius: 12px;
   scale: .8;
}

.scroll {
   display: flex;
   justify-content: start;
   overflow-x: scroll;
}

.scroll:last-child {
   margin-right: 16px;
}

.scroll::-webkit-scrollbar {
   display: none;
}

.dls {
   margin-top: 22px;
   background: #FFE9C9;
   border: 1px solid #CEBEA5;
   border-radius: 16px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-left: 16px;
   margin-right: 16px;
   margin-bottom: 43px;
}

.dls__title {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;

   margin-left: 14px;
   padding-top: 14px;
   padding-bottom: 14px;

}

.dls__info {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 13px;
   line-height: 18px;
   color: #24BF0B;

   background: #EBD7B9;
   border: 1px solid #CEBEA5;
   border-radius: 16px;

   padding: 5px 20px;
   margin-right: 11px;
}


.chek__title {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 26px;

   margin-left: 16px;
   margin-bottom: 27px;
}

.chek__btn {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   color: #24BF0B;

   padding: 11px 170px 11px 51px;

   background: url(../image/chek/1.svg) 19px 50% no-repeat, url(../image/chek/2.svg) 327px 50% no-repeat;
   border: 1px solid #CEBEA5;
   border-radius: 100px;
   background-color: #EBD7B9;
   margin-bottom: 16px;
}



.pryse__info {
   position: relative;
   display: flex;
   justify-content: right;
}

.pryse__info-opacity {
   text-decoration-line: line-through;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 18px;
   align-items: center;
   color: #333333;
   opacity: 0.4;
   margin-right: 8px;
}

.pryse__info-def {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 18px;
   color: #333333;
}

.pryse__title {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   color: #333333;
}

.pryse__title-bold {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   color: #333333;
}

.pryse {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}

.dls__pryse {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 13px;
   line-height: 16px;
   color: #24BF0B;
   margin-bottom: 27px;
}

.btn__ketch {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;

   padding: 6px 38px 6px 42px;

   background: url(../image/chek/5.svg) 13px 50% no-repeat, url(../image/chek/4.svg) 148px 50% no-repeat;

   background-color: #EBD7B9;
   ;
   border: 1px solid #CEBEA5;
   border-radius: 16px;
   margin-bottom: 8px;
}

.econom {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 11px;
   line-height: 16px;
   color: #24BF0B;
   margin-bottom: 8px;
}

.play {
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   color: #FFE9C9;

   background: #24BF0B;
   border-radius: 100px;
   padding: 12px 118px;

}

.a {
   text-decoration: none;
}

.plays {
   margin-left: 16px;
   margin-right: 16px;
   padding-bottom: 25px;
}