.container {
        width: 390px;
        margin: 0px auto;
        position: relative;
        background-color: #FFE9C9;
    }

img {
    width: 100px;
    height: 100px;
    margin-top: 196px;
    margin-left: 145px;
    margin-right: 145px;
}

.title {
    align-items: center;
    margin-top: 10px;
    margin-left: 103.5px;
    margin-right: 103.5px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #24BF0B;
}

.subtitle {
    text-align: center;
    margin-top: 10px;
    margin-left: 83px;
    margin-right: 83px;
    margin-bottom: 438px;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #757575;
}
